<div class="sidebar">
    <h3>Contact App</h3>

    <ul>
        <li>
            <a href="/">Dashboard</a>
        </li>

        <li>
            <a href="/contacts">All Contacts</a>
        </li>

        <li>
            <a href="/contacts/add">Add Contact</a>
        </li>
    </ul>
</div>