<%- include('partials/header') %>

<div class="dashboard">

    <h1>Contact Management System</h1>

    <div class="cards">

        <div class="card">
            <h3>Total Contacts</h3>
            <p><%= totalContacts %></p>
        </div>

        <div class="card">
            <h3>Create Contact</h3>

            <a href="/contacts/add">
                Add New
            </a>
        </div>

        <div class="card">
            <h3>Manage Contacts</h3>

            <a href="/contacts">
                View All
            </a>
        </div>

    </div>

</div>

<%- include('partials/footer') %>